/* Color pallete */
.pastel {
    color: #FAF9F7;
}
.background-pastel {
    background-color: #FAF9F7;
}
.blue {
    color: #00D5CE;
}
.background-blue {
    background-color: #00D5CE;
}
.dark-blue {
    color: #262B4F;
}
.dark-purple {
    color: #636679;
}
.red {
    color: #FF0068;
}
.background-red {
    background-color: #FF0068;
}
.gray {
    color:#CAC9CE;
}

/* Heading */
h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 700;
}
h2 {
    color: #262B4F;
    font-size: 40px;
    margin: 0;
    font-weight: 800;
}
h3 {
    font-size: 25px;
    font-weight: 400;
}
h4 {
    font-size: 20px;
    font-weight: 400;
}
@media only screen and (max-width: 1343px) {
    h1 {
        font-size: 52px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 1018px) {
    h1 {
        font-size: 43px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 19px;
    }
}
@media only screen and (max-width: 918px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 17px;
    }
}

/* General Class */
body {
    font-family: 'Nunito Sans';
    margin: 0;
}
.section {
    margin: 0 5vw;
}
.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.body-wrapper {
    margin-top: 90px;
}
.app-wrapper > footer {
    width: 100%;
}
.bold-font {
    font-weight:700;
}
.round-button {
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: 800;
    font-size: 19px;
    border: 3px solid #00D5CE;
    color: #00D5CE;
}
.fill-button {
    color: white;
    border: none;
}
.search-input input::placeholder {
    color: #00D5CE;
}
.search-input {
    display: flex;
    align-items: baseline;
    display: flex;
}
.search-input input {
    font: 800 16px 'Nunito Sans';
    border: none;
    background: none;
    max-width: 198px;
    width: 20vw;
    min-width: 160px;
}
.search-input.background-blue input::placeholder {
    color: white;
}
.round-border-big {
    border-radius: 30px;
}
.round-border {
    border-radius: 15px;
}
a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
.shadow {
    -webkit-box-shadow: 40px 75px 77px -62px rgba(0,0,0,0.2);
    -moz-box-shadow: 40px 75px 77px -62px rgba(0,0,0,0.2);
    box-shadow: 40px 75px 77px -62px rgba(0,0,0,0.2);
}
.no-border-bottom {
    border-bottom: none !important;
}
.box {
    border: 1px solid #E7E7E7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
input:focus {
    outline: none;
}
.section-top {
    padding: 5vw 0;
}
button:focus {
    outline: none;
}
@media only screen and (max-width: 918px) {
    .round-button {
        font-size: 19px;
        padding: 12px 28px;
    }
    .section-top {
        padding: 8vw 0;
    }
    .body-wrapper {
        margin-top: 84px;
    }
}
@media only screen and (max-width: 600px) {
    .round-button {
        font-size: 18px;
        padding: 11px 27px;
    }
}
@media only screen and (max-width: 600px) {
    .body-wrapper {
        margin-top: 82px;
    }
    .title {
        flex-direction: column;
    }
    .title .round-button {
        display: flex;
    }
    .title h2 {
        margin-bottom: 2vw;
    }
}
@media only screen and (max-width: 550px) {
    .body-wrapper {
        margin-top: 64px;
    }
}

/* Navbar */
#navbar img {
    height: 50px;
}
#navbar img[alt='menubar'] {
    padding: 5px 5px 5px 0;
}
.control-mobile {
    display: none;
}
.navbar-wrapper {
    background-color: white;
    z-index: 100;
    margin: auto;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#navbar {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 5vw;
    align-items: center;
}
.right-navbar {
    display: flex;
    align-items: center;
}
.navbar-link > a {
    margin: 0 10px;
}
#navbar .fill-button {
    border: 3px solid #00D5CE;
}
#collapsed.collapse.in, #collapsed {
    display: none;
}
.box #navbar {
    padding-top: 8px;
    padding-bottom: 8px;
}
@media only screen and (max-width: 900px) {
    .control-mobile {
        display: block;
    }
    .navbar-link {
        display: none;
    }
    #collapsed.collapse.in {
        display: flex;
    }
    #collapsed {
        width: 100%;
        height: 29vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-height: 265px;
    }
    #collapsed > a {
        width: 100%;
        border-bottom: 1px solid #262b4e2b;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 550px) {
    #navbar {
        padding: 10px;
    }
    #navbar img {
        height: 36px;
    }
    #navbar .round-button {
        padding: 7px 28px;
    }
}
@media only screen and (max-width: 450px) {
    #navbar img[alt='navia-logo'] {
        display: none;
    }
    .search-input input {
        width: 100%;
        max-width: none;
    }
    #search-button, .right-navbar {
        width: 100%;
    }
    #navbar img[alt='menubar'] {
        padding-right: 15px;
    }
}

/* Home */
#home {
    display: flex;
    padding: 5vw;
}
#home img {
    width: 700px;
}
.home-content {
    padding: 0 5vw;
    display: flex;
    align-items: center;
}
#home h3 {
    margin-bottom: 4vw;
    margin-top: 2vw;
}
@media only screen and (max-width: 1600px) {
    #home img {
        width: 100%;
    }
}
@media only screen and (max-width: 798px) {
    .home-content {
        padding: 0 4vw;
    }
    #home {
        padding: 4vw;
    }
    #home h3 {
        margin-bottom: 6vw;
        margin-top: 1vw;
    }
}
@media only screen and (max-width: 798px) {
    #home {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
}
@media only screen and (max-width: 645px) {
    #home.body-wrapper {
        margin-top: 0;
    }
    .home-content {
        position: absolute;
        bottom: 0;
        padding: 5vw;
        padding-bottom: 60px;
    }
    #home {
        padding: 0;
        margin-top: 0;
        position: relative;
    }
    #home {
        background-color: black;
    }
    #home .dark-blue {
        color: #FAF9F7;
    }
    #home .dark-purple {
        color: #ffffff;
    }
    #home img {
        display: none;
    }
    #home .background {
        height: 100vh;
        width: 100vw;
        background-image: url('../img/background/white-furniture-set-cropped.jpg');
        background-position: center;
        background-size: cover;
        opacity: 0.4;
    }
}

/* About */
#about img {
    max-height: 135px;
    min-height: 80px;
    height: 8vw;
}
#about {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #63667926;
}
#about h4 {
    font-weight: 700;
    color: #262B4F;
}
#about > div {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 798px) {
    #about {
        margin: 0 10px;
    }
}
@media only screen and (max-width: 600px) {
    #about {
        flex-wrap: wrap;
    }
    #about > div {
        width: 45vw;
    }
}
@media only screen and (max-width: 390px) {
    #about > div {
        width: 44vw;
    }
}

/* Product */
.product-list {
    display: flex;
    margin: 0 -2vw;
}
.product-list > div {
    flex: 1;
    margin: 2vw;
}
.product-list img {
    width: 100%;
}
@media only screen and (max-width: 670px) {
    .product-list {
        flex-direction: column;
    }
    .product-list > div {
        margin: 5vw 3vw;
        justify-content: center;
        display: flex;
    }
    .product-list img {
        max-width: 500px;
    }
}

/* Client */
#client {
    display: flex;
}
#client > div {
    flex: 1;
}
.client-list img {
    margin: 10px;
    height: 4vw;
    min-height: 35px;
}
#client .round-border-big {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.client-count {
    display: flex;
    align-items: center;
}
.client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#client > div {
    padding: 4vw 8vw;
}
@media only screen and (max-width: 735px) {
    #client {
        flex-direction: column;
    }
    #client .background-pastel {
        max-width: 90%;
    }
}
@media only screen and (max-width: 564px) {
    #client .background-pastel {
        max-width: 100%;
        border-radius: 0;
    }
    #client > div {
        padding: 2vw 5vw;
    }
    .client-list img {
        margin: 1vw;
    }
}

/* Footer */

footer {
    color: #262B4F;
    padding: 2vw 5vw 0 5vw;
}
footer h4 {
    margin: 0px;
}
footer a h4 {
    font-weight: 400;
}
footer a {
    color: #262B4F;
}
footer a:hover {
    color: #FF0068 !important;
}
.footer-wrapper {
    display: flex;
    max-width: 1300px;
    margin: auto;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
}
.footer-wrapper > div {
    display: flex;
    flex-direction: column;
}
.footer-title {
    height: 86px;
    display: flex;
    align-items: center;
    margin: 0;
}
.copy {
    margin-top: 2.5vw;
    text-align: center;
    font-weight: 400;
}
footer.inverted {
    background-color: white;
    color: #636679; 
}
footer.inverted a {
    color: #636679; 
}
/* Left */
.footer-logo {
    height: 50px;
}
.footer-left > div {
    margin: 0.5vw 0;
}
h4.footer-accept {
    font-size: 20px;
}
.footer-accept img, .footer-certified img  {
    max-height: 60px;
    height: 5vw;
    min-height: 40px;
}
/* Middle */
.footer-link h4 {
    margin: 8px 0;
}
/* Right */
.footer-contact {
    width: 40%;
}
footer .round-button {
    margin-top: 2vw;
    background: none;
}
.box-input input {
    background: none;
    border: none;
    height: 20px;
    margin-left: 10px;
    width: 100%;
    font: 400 20px 'Nunito Sans';
}
.box-input {
    border-bottom: 2px solid #636679;
    padding: 10px;
    display: flex;
    align-items: baseline;
    height: 50px;
    margin: 5px 0;
}
.box-input ::placeholder {
    color: #636679;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito Sans';
}
.footer-submit {
    display: flex;
    justify-content: center;
}
.footer-submit button:focus {
    background-color: #00D5CE;
    color: white;
}
@media only screen and (max-width: 918px) {
    .footer-link h4 {
        margin: 4px 0;
    }
    .box-input input {
        height: 18px;
        margin-left: 9px;
        font: 400 18px 'Nunito Sans';
    }
    .box-input {
        padding: 9px;
        height: 40px;
        margin: 5px 0;
    }
    .box-input ::placeholder {
        font-size: 18px;
    }
}
@media only screen and (max-width: 720px) {
    .footer-wrapper {
        flex-direction: column;
        max-width: 500px;
        
    }
    .footer-contact {
        width: 100%;
    }
    footer {
        padding: 4vw 6vw 0 6vw;
    }
    .footer-title {
        height: auto;
    }
    .footer-left > div {
        margin: 0;
    }
    footer h4, .footer-link h4  {
        margin: 10px 0;
    }
    h4.copy {
        margin-bottom: 0;
    }
}