/* Color pallete */
.pastel {
    color: #FAF9F7;
}
.background-pastel {
    background-color: #FAF9F7;
}
.blue {
    color: #00D5CE;
}
.background-blue {
    background-color: #00D5CE;
}
.dark-blue {
    color: #262B4F;
}
.dark-purple {
    color: #636679
}
.red {
    color: #FF0068;
}
.background-red {
    background-color: #FF0068;
}
.gray {
    color:#CAC9CE;
}

/* Heading */
h1 {
    font-size: 70px;
    margin: 0;
    font-weight: 700;
}
h2 {
    color: #262B4F;
    font-size: 40px;
    margin: 0;
    font-weight: 800;
}
h3 {
    font-size: 25px;
    font-weight: 400;
}
h4 {
    font-size: 20px;
    font-weight: 400;
}
/* General Class */
body {
    font-family: 'Nunito Sans';
    margin: 0;
}
.bold-font {
    font-weight:700;
}
.section {
    padding: 100px;
}
.round-button {
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: 800;
    font-size: 20px;
    border: 3px solid #00D5CE;
    color: #00D5CE;
}
.fill-button {
    padding: 18px 35px;
    color: white;
    border: none;
}
.fill-button-thin {
    padding: 15px 35px;
    color: white;
    border: none;
    display: flex;
    align-items: baseline;
}
.fill-button-thin ::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Nunito Sans';
}
.round-border-big {
    border-radius: 30px;
}
.round-border {
    border-radius: 15px;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.shadow {
    -webkit-box-shadow: 40px 75px 77px -62px rgba(0,0,0,0.2);
    -moz-box-shadow: 40px 75px 77px -62px rgba(0,0,0,0.2);
    box-shadow: 40px 75px 77px -62px rgba(0,0,0,0.2);
}
.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-input input {
    background: none;
    border: none;
    height: 100%;
    margin: 0 10px;
}
.box-input {
    border-bottom: 2px solid #636679;
    padding: 10px;
    display: flex;
    align-items: baseline;
    height: 20px;
    margin: 5px 0;
}
.box-input ::placeholder {
    color: #636679;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito Sans';
}

/* Navbar */
.navbar img {
    height: 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

.navbar input {
    border: none;
    background: none;
}
.search-input {
    display: flex;
    margin: 0 10px;
}
.navbar-right {
    display: flex;
    align-items: center;
}
.navbar-link > a {
    margin: 0 10px;
}

/* Home */
#home {
    display: flex;
    padding: 45px;
    margin: 0 60px;
}
#home img {
    width: 100%;
}
.home-content {
    padding: 0 100px;
    display: flex;
    align-items: center;
}
#home h3 {
    margin-bottom: 50px;
}

/* Product */
.product-list {
    display: flex;
    margin: 0 -25px;
}
.product-list > div {
    flex: 1;
    margin: 25px;
}
.product-list img {
    width: 100%;
}

/* Client */
#client {
    display: flex;
}
#client > div {
    flex: 1;
}
.client-list img {
    height: 60px;
}
#client .round-border-big {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.client-count {
    display: flex;
    align-items: center;
}
.client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.client-list img {
    margin: 10px;
}
#client .section {
    padding: 50px 100px;
}

/* Footer */
.footer-logo {
    height: 50px;
}
footer {
    display: flex;
    margin-top: 50px;
    color: #636679;
}
footer a {
    color: #636679;
}
footer > div {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.footer-link {
    margin: 0 20px;
}
footer h4 {
    margin: 0px;
}
.footer-title {
    height: 86px;
    display: flex;
    align-items: center;
}
.footer-link img {
    height: 50px;
}
.middle-socmed {
    margin: 0 15px;
}
footer span.round-button {
    margin-top: 20px;
}
footer .section {
    padding: 50px 100px;
}